<div class="container">
<div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
</div>


<div class="container panel panel-default">
  <h2 class="page-header">Create New Bug</h2>

  <form [formGroup]="newbugForm" (submit)="createNewBug()">

    <div class="form-group">
      <label for="bugName">Bug Name</label>
      <div>
        <input type="text" name="bugName" class="form-control" autocomplete="off" placeholder="*Bug Name" formControlName="bugName"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="bugDescription">Description</label>
      <div>
        <textarea name="bugDescription" class="form-control" autocomplete="off" placeholder="*About bug" formControlName="bugDescription"></textarea>
      </div>
    </div>

    <div class="col-xs-6">
    <div class="form-group">

      <label for="bugName">Priority</label>
    <select class="form-control" id="priority-select" formControlName="priority">
    <option >Low</option>
    <option >Medium</option>
    <option >High</option>
    <option >Urgent</option>
  </select>
    </div>

    <div class="form-group">
      <label for="bugName">Status</label>
    <select class="form-control" id="status-select" formControlName="status">
    <option >New</option>
    <option >In Progress</option>
    <option >Closed</option>
  </select>
    </div>

   <div class="form-group">
      <label for="bugName">Assignee</label>
    <select class="form-control" id="assignee-select" formControlName="assignee">
    <option  *ngFor="let member of members">{{member.name}}</option>
  </select>
    </div>
    </div>

    <div class="col-xs-6">
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <div>
        <input type="date" name="startDate" class="form-control" autocomplete="off" formControlName="startDate"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="dueDate">Due Date</label>
      <div>
        <input type="date" name="dueDate" class="form-control" autocomplete="off" formControlName="dueDate"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="estimatedTime">Estimated Time (in hours)</label>
      <div>
        <input type="number" name="estimatedTime" class="form-control" autocomplete="off" placeholder="*In hours" formControlName="estimatedTime"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="perDone">Percentage Done</label>
      <div>
        <input type="number" name="perDone" class="form-control" autocomplete="off" placeholder="*% Done" formControlName="perDone"
        />
      </div>
    </div>
    </div>

    <input [disabled]="!newbugForm.valid" type="submit" class="btn btn-primary" />
    <button type="button" name="button" class="btn btn-default" (click)="goBack()">Go Back</button>

    <br>
    <br>

  </form>
</div>