<div class="container">
  <div class="jumbotron text-center">
    <h1>Issue Tracking Tool</h1>
    <p class="lead">Developed by Abhinav Gajurel.</p>
    <div>
      <a routerLink = "/register" class="btn btn-primary">Register</a>
      <a routerLink = "/login" class="btn btn-default">Login</a>
    </div>
    <br>
    <br>
    <p align="right" class="lead">*Don't Feeling like registering? Use <strong>demo</strong> as loginId and <strong>Demo@1234</strong> as password</p>
    <p align="right" class="lead">*Please report any bugs to abhinav.gajurel@gmail.com</p>
  </div>
</div>