<div class="col-xs-3">

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="active panel-title"><a href="#">My Task  <span class="badge">3</span></a></h3>
      
    </div>
    <ul>
      <li>SOMETHING1</li>
      <li>SOMETHING2</li>
      <li>SOMETHING3</li>
    </ul>
  </div>


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="active panel-title"><a href="#">Bugs  <span class="badge">2</span></a></h3>
      
    </div>
    <div class="panel-body">
      <ul>
        <li>Buttons not Working</li>
        <li>Nothing is Working</li>
      </ul>
    </div>
  </div>

</div>

<div class=" col-xs-6">
  <app-timeline></app-timeline>
  
</div>

<div class="col-xs-3">



  <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                  <div class="col-xs-6">
                    <h2 class="active panel-title">My Project <span class="badge">3</span></h2>
                  </div>
                      <div class="col-xs-6">
                        <a href="#" id="new-project-button" class="btn btn-success btn-sm">New Project</a>
                      </div>
                </div>
                </div>
                <ul class="list-group">
                    <a href="#" class="list-group-item">E-Commerce</a>
                    <a href="#" class="list-group-item">Supply Chain</a>
                    <a href="#" class="list-group-item">Accounting</a>
                </ul>
            </div>

  <div class="list-group">
    <h2 align="center">Upcoming Deadline</h2>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
  </div>
</div>