<div class="col-xs-3">

  <div class="panel panel-default">
    <div class="panel-heading" id="task-heading">
      <h3 class="active panel-title">Tasks  <span class="badge">{{tasks.length}}</span></h3>
      
    </div>
    <ul *ngFor="let task of tasks" class="list-group">
      
      <a [routerLink]="['/taskHome/', task._id]" class="list-group-item">{{task.name}}</a>
      
    </ul>
  </div>


  <div class="panel panel-danger">
    <div class="panel-heading" id="bug-heading">
      <h3 class="active panel-title">Bugs  <span class="badge">{{bugs.length}}</span></h3>
      
    </div>
     <ul *ngFor="let bug of bugs" class="list-group">
      
      <a [routerLink]="['/bugHome/', bug._id]" class="list-group-item">{{bug.name}}</a>
      
    </ul>
  </div>

</div>

<div class=" col-xs-6">
  <app-timeline></app-timeline>
  
</div>

<div class="col-xs-3">



  <div class="panel panel-default">
                <div class="panel-heading" id="project-heading">
                  <div class="row">
                  <div class="col-xs-6">
                    <h2 class="active panel-title">My Project <span class="badge">{{projects.length}}</span></h2>
                  </div>
                      <div class="col-xs-6">
                        <a routerLink="/newproject" id="new-project-button" class="btn btn-success btn-sm">New Project</a>
                      </div>
                </div>
                </div>
                <ul *ngFor="let project of projects" class="list-group">
                    <a [routerLink]="['/projectHome/', project._id]" class="list-group-item">{{project.projectName}}</a>
                </ul>
            </div>

  <!-- <div class="list-group">
    <h2 align="center">Upcoming Deadline</h2>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
  </div> -->
</div>