<div class="col-xs-3">

  <div class="panel panel-primary">
  <div class="panel-heading">
    <!-- <h3 class="panel-title">Active Projects</h3> -->
    <h3 class="active panel-title">Active Project  <span class="badge">3</span></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>E-Commerce</li>
      <li>Accounting</li>
      <li>Supply Chain</li>
      <li>Supply Chain</li>
      <li>Supply Chain</li>
      <li>Supply Chain</li>
      <li>Supply Chain</li>
      <li>Supply Chain</li>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="active panel-title"><a href="#">My Task  <span class="badge">3</span></a></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>SOMETHING1</li>
      <li>SOMETHING2</li>
      <li>SOMETHING3</li>
    </ul>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="active panel-title"><a href="#">Bugs  <span class="badge">2</span></a></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Buttons not Working</li>
      <li>Nothing is Working</li>
    </ul>
  </div>
</div>

</div>

<div class=" col-xs-6">
  <div class=" panel panel-default panel-body">
    <textarea name="body" rows="5" cols="80" placeholder="*Have any issues? Ask here." class="form-control" 
      formControlName="body"></textarea> 
      <br>
    <a id="post-button" href="#" class="btn btn-primary btn-sm">Post</a>
  </div>










  <div class="panel panel-primary" >

    <div class="panel-body">
      Unable to load the grid in 345 server.Unable to load the grid in 345 server.Unable to load the grid in 345 server.
    </div>

    <div class="panel-footer">
      <strong>Posted by: </strong> Jimmy Johnson
      <br/>
      <strong>Date: </strong> 24/12/2016
      <br/>

      <a href="#"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: 12</button>
        <div class="dropdown-content">
          <a href="#">Kasey Miller</a>
        </div>
      </div>

      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span> Dislikes: 54</button>
        <div class="dropdown-content">
          <a href="#">Brad Jones</a>
        </div>
      </div>

    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-danger">Post Comment</button>
        <br />
        <br />
        <div>
          <form [formGroup]="commentForm">
            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
            <button type="submit" name="button" class="btn btn-sm btn-info">Post</button>
            <button type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>
          </form>
        </div>

        <li class="list-group-item">
          <span>
            Show comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <li class="list-group-item">
          <span>
            Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <div >
          <li class="list-group-item">
            <strong>Jackson Rodgrigues:</strong> I fixed it!
          </li>
        </div>
    </ul>
  </div>

















</div>

<div class="col-xs-3">
  <div class="panel panel-default">
  <div class="panel-body">
    <a href="#" class="btn btn-success btn-sm">New Project</a>
  </div>
</div>

<div class="list-group">
  <h2>Upcoming Deadline</h2>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>
</div>