<div class="container">
<div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
</div>


<div class="container panel panel-default">
  <h2 class="page-header">Create New Project</h2>

  <form [formGroup]="newProjectForm" (submit)="createNewProject()">

    <div class="form-group">
      <label for="projectName">Project Name</label>
      <div>
        <input type="text" name="projectName" class="form-control" autocomplete="off" placeholder="*Project Name" formControlName="projectName"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="projectDescription">Description</label>
      <div>
        <textarea name="projectDescription" class="form-control" autocomplete="off" placeholder="*About project" formControlName="projectDescription"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="projectMembers">Add Project Members</label>
      <div class="container" *ngFor="let member of members">
        <label class="checkbox-inline"><input type="checkbox" formControlName="selectedMembers" value="member" (change)="updateMembers(member, $event)">{{member.name}}</label>
      </div>
    </div>

    <input [disabled]="!newProjectForm.valid" type="submit" class="btn btn-primary" />
    <button type="button" name="button" class="btn btn-default" (click)="goBack()">Go Back</button>

    <br>
    <br>

  </form>
</div>